.editor-header {
    font-family: Shrikhand;
    font-weight: 700;
    font-size: 1.5em;
    color: rgb(0, 0, 0);
    margin-block-start: 10%;
    grid-column-start: 1;
    grid-column-end: -1;
    justify-self: center;
}

.text-editor-container {
    text-align: center;
    background-color: white;
    border: 1px solid white;
    border-radius: 14px;
    padding: 7px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 15px 0 rgba(0, 0, 0, 0.1);
}

.font-select {
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.09), 0 6px 15px 0 rgba(0, 0, 0, 0.09);
    border-radius: 7px;
    height: 2em;
}

.minus-btn {
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.09), 0 6px 15px 0 rgba(0, 0, 0, 0.09);
    border-radius: 7px;
    height: 2em;
}

.minus-btn:hover {
    background-color: rgb(255, 209, 4);
    font-weight: 900;
}

.plus-btn {
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.09), 0 6px 15px 0 rgba(0, 0, 0, 0.09);
    border-radius: 7px;
    height: 2em;
}

.plus-btn:hover {
    background-color: rgb(255, 209, 4);
    font-weight: 900;
}

.add-line-btn {
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.09), 0 6px 15px 0 rgba(0, 0, 0, 0.09);
    border-radius: 7px;
    height: 2em;
}

.add-line-btn:hover {
    background-color: rgb(255, 209, 4);
    font-weight: 900;
}

.switch-line-btn {
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.09), 0 6px 15px 0 rgba(0, 0, 0, 0.09);
    border-radius: 7px;
    height: 2em;
}

.switch-line-btn:hover {
    background-color: rgb(255, 209, 4);
    font-weight: 900;
}

.color-picker {
    margin-top: 1%;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.09), 0 6px 15px 0 rgba(0, 0, 0, 0.09);
    border-radius: 7px;
    height: 2em;
}

.text-editor {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.09), 0 6px 15px 0 rgba(0, 0, 0, 0.09);
    border-radius: 7px;
    height: 2em;
}

.download-btn {
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.09), 0 6px 15px 0 rgba(0, 0, 0, 0.09);
    border-radius: 7px;
    height: 2em;
}

.download-btn:hover {
    font-weight: 900;
}