.editor-header {
    font-family: Shrikhand;
    font-weight: 700;
    font-size: 1.5em;
    color: rgb(0, 0, 0);
    margin-block-start: 10%;
    grid-column-start: 1;
    grid-column-end: -1;
    justify-self: center;
}

.text-editor-container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 5em 3em 3em 3em 4.5em 3em;
    gap: 1px;
    text-align: center;
    background-color: #00ADB5;
    border: 1px solid #393E46;
    border-radius: 14px;
    padding: 7px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 15px 0 rgba(0, 0, 0, 0.1);
}

.font-select {
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.09), 0 6px 15px 0 rgba(0, 0, 0, 0.09);
    border-radius: 7px;
    height: 2em;
}

.minus-btn {
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.09), 0 6px 15px 0 rgba(0, 0, 0, 0.09);
    border-radius: 7px;
    height: 2em;
}

.minus-btn:hover {
    background-color: rgb(255, 209, 4);
    font-weight: 900;
}

.plus-btn {
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.09), 0 6px 15px 0 rgba(0, 0, 0, 0.09);
    border-radius: 7px;
    height: 2em;
}

.plus-btn:hover {
    background-color: rgb(255, 209, 4);
    font-weight: 900;
}

.add-line-btn {
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.09), 0 6px 15px 0 rgba(0, 0, 0, 0.09);
    border-radius: 7px;
    height: 2em;
}

.add-line-btn:hover {
    background-color: rgb(255, 209, 4);
    font-weight: 900;
}

.switch-line-btn {
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.09), 0 6px 15px 0 rgba(0, 0, 0, 0.09);
    border-radius: 7px;
    height: 2em;
}

.switch-line-btn:hover {
    background-color: rgb(255, 209, 4);
    font-weight: 900;
}

.color-picker {
    margin-top: 1%;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.09), 0 6px 15px 0 rgba(0, 0, 0, 0.09);
    border-radius: 7px;
    height: 2em;
}

.text-editor {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.09), 0 6px 15px 0 rgba(0, 0, 0, 0.09);
    border-radius: 7px;
    height: 2em;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column: 1 /-1;
}

.download-btn {
    cursor: pointer;
    font-family: monospace;
    font-size: 1.4em;
    font-weight: 900;
    color: rgb(0, 0, 0);
    border-radius: 7px;
    height: 2em;
    text-decoration: none;
    letter-spacing: 1.5px;
    justify-self: center;
    grid-column-start: 1;
    grid-column-end: -1;
}

.download-btn:hover {
    color: rgb(255, 209, 4);
}