.nav-container {
    background-color: rgb(189, 178, 178);
    border: 1px solid #00000020;
    padding: 15px;
}

.nav-container .logo{
    font-family: Montserrat;
    font-size: 1.6em;
    margin-inline-start: 2%;
    cursor: pointer;
}

.nav-container .pages{
    font-family: Shrikhand;
    font-size: 1.2em;
    margin-inline-end: 2%;
    cursor: pointer;
}