@font-face {
    font-family: Montserrat;
    src: url('/fonts/Montserrat/Outfit-VariableFont_wght.ttf');
}

@font-face {
    font-family: Shrikhand;
    src: url('/fonts/Shrikhand/Outfit/Outfit-VariableFont_wght.ttf');
}
